#eclipse
.loadpath
.project

#gvim
*.swp
*~
		       
#netbeans			
nbproject/
				
#rails
coverage.data
coverage/
config/database.yml
db/schema.rb
db/*.sqlite3
tmp/
log/
*.log
*.pid
*.cache

.sass-cache/
.DS_Store
.svn
rerun.txt
config/cache.yml

#bundle
bundler_stubs/
.bundle/

#rvm
.rvmrc
.tags

dump.rdb
